body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

.form-container {
    text-align: center;
}

.logo {
    width: 100px; /* Ajuste conforme necessário */
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #6b4423;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
    color: #6b4423;
    text-align: left;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8B7E6A;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #6b4423;
}
